* {
    box-sizing: border-box;
}

i {
    transform: rotateX('90');
}

.container {
    height: fit-content;
    background: linear-gradient(to bottom,rgb(193,53,132), rgb(225,48,108));
    padding-bottom: 1em;
    padding-top: 4em;
    text-align: center;
    width: 100%;
}

.content {
    width: 85%;
    text-align: left;
    color: white;
    margin: auto;
    padding-bottom: 12em;
}