.subList {
    list-style: none;
    text-align: left;
}

.skillsItem {
    color: white;
    /* float: left; */
    /* width: 100%; */
    text-align: left;
    border: 1px solid white;
    border-radius: 22px;
    padding: 1em;
    margin: 4px;
    height: fit-content;
}

.listItem {
    margin: 2px;
}